<html>
  <head>
    <title>Smart Farm</title>
    <meta http-equiv="refresh" content="1">
  </head>
  <body>
    <h1>Smart Farm</h1>
    <h2>Sistem Irigasi Otomatis</h2>  
    <!-- {{views}} -->
    <table border='1'>
      <tr>
        <th>Sensor Kelembaban Tanah (%)</th>
        <th>Sensor pH Tanah (pH)</th>
        <th>Sensor Suhu (°C)</th>
        <th>Water Sprinkler</th>
      </tr>
      <tr>
        <td align="center">{{ views1 }}</td>
        <td align="center">{{ views2 }}</td>
        <td align="center">{{ views3 }}</td>
        <td align="center">{{ views_act }}</td>
      </tr>
    </table>

  </body>
</html>